<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"></customErrors>

    <urlMappings enabled="true">
      <add url="~/" mappedUrl="~/Home.aspx" />
      <add url="~/Home" mappedUrl="~/Home.aspx" />
      <add url="~/Products" mappedUrl="~/Products.aspx" />
      <add url="~/About" mappedUrl="~/AboutUs.aspx" />
      <add url="~/Contact" mappedUrl="~/ContactUs.aspx" />
      <add url="~/ProductGallary" mappedUrl="~/PhotoGallary.aspx" />
      <add url="~/Order" mappedUrl="~/Order.aspx" />
    </urlMappings>
  </system.web>

  <appSettings>

    <add key="mailid" value="info@rainremedies.com" />
    <add key="mailpswd" value="RainRemedies123" />
    <add key="smtp" value="smtp.rainremedies.com" />
    <!--<add key="smtp" value="us2.smtp.mailhostbox.com" />-->
    <add key="port" value="25" />
    <add key="ssl" value="false" />
    <!--<add key="mailpswd" value="info@123" />-->

    <!--<add key="mailid" value="karan@axtongroup.com"/>
    <add key="mailpswd" value="Karan123"/>
    <add key="smtp" value="secure154.sgcpanel.com"/>
    <add key="port" value="587"/>
    <add key="ssl" value="true"/>-->

    <!--<add key="to" value="rainremedies@gmail.com"/>
    <add key="from" value="123sac4temp@gmail.com"/>-->
    <!--<add key="from" value="info@rainremedies.com"/>-->
    <!--<add key="mailid" value="sac123@asia.com"/>-->
    <!--<add key="mailid" value="sac4temp@gmail.com"/>-->
    <!--<add key="mailid" value="info@rainremedies.com"/>-->
    <!--<add key="mailpswd" value="sac123456"/>-->
    <!--<add key="mailpswd" value="@sac4temp"/>-->
    <!--<add key="mailpswd" value="VnDrNQNJv8"/>-->
    <!--<add key="port" value="465"/>-->
    <!--<add key="smtp" value="smtp.mail.com"/>-->
    <!--<add key="smtp" value="smtp.rainremedies.com"/>-->
    <!--<add key="ssl" value="true"/>-->
    <!--<add key="ssl" value="false"/>-->

    <!--<add key="mailid" value="sac4temp@gmail.com"/>
    <add key="mailpswd" value="sac$temp"/>
    <add key="smtp" value="smtp.gmail.com"/>
    <add key="port" value="587"/>
    <add key="ssl" value="true"/>-->

  </appSettings>
    <!--  <system.webServer>
    <rewrite>
      <rewriteMaps>
        <rewriteMap name="Static">
          <add key="/Home" value="/Home.aspx" />
          <add key="/Products" value="/Products.aspx" />
          <add key="/About" value="/AboutUs.aspx" />
          <add key="/Contact" value="/Contactus.aspx" />
          <add key="/ProductGallary" value="/PhotoGallary.aspx" />
          <add key="/Order" value="/Order.aspx" />
          <add key="/PhotoGallary" value="/PhotoGallary.aspx" />
        </rewriteMap>
      </rewriteMaps>
      <rules>
        <rule name="Rewrite Rule">
          <match url=".*" />
          <conditions>
            <add input="{Static:{REQUEST_URI}}" pattern="(.+)" />
          </conditions>
          <action type="Rewrite" url="{C:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>-->
</configuration>
